$dark: #1f1f1f;
$light-font: #eee;
$projects-height: 100vh;

.projects {
  width: 100%;
  height: auto;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark;
  z-index: 10;
}

#projects-title {
  color: $light-font;
  margin-bottom: 20px;
}

.projects-ul {
  display: flex;
  flex-direction: column;
  width: 80vw;
  transition: all .15s ease-in;
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
}

.project {
  width: 100%;
  min-height: 300px;
  max-width: 1600px;
  height: auto;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  transition: all .15s ease-in;
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
}

.project-img {
  width: 100%;
  height: 50vw;
  background-color: #eee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  transition: all .15s ease-in;
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
}

.project-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  padding: 1em 2em;
  transition: all .15s ease-in;
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
}

@media screen and (min-width: 1100px) {
  .project {
    flex-direction: row;
  }

  .project-img {
    width: 40%;
    height: 425px;
  }

  .project-detail {
    height: 425px;
    width: 60%;
  }
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
}

.project-name {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}

.project-desc-box {
  display: flex;
  flex-direction: column;
}

.project-desc {
  font-size: 1em;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 100;
  margin-bottom: 3px;
}

.stack {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.stack-title {
  display: none;
  margin-bottom: 10px;
  text-align: center;
  color: $light-font;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.project-stack {
  min-height: 25px;

  border-radius: 1px;
  padding: 5px 10px;
  margin: 3px;

  background-color: #eee;
  box-shadow: 0 0 5px #999;

  color: #111;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
}

.project-links {
  display: flex;
  width: 100%;
  justify-content: center;
}

// hover blank to white
.project-link-btn {
  margin: 20px 1%;
  height: 40px;
  width: 40%;
  max-width: 125px;
  border: 1px solid #eee;
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-link {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
}

.project-link-btn:hover {
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  background-color: #eee;
  cursor: pointer;
}

.project-link-btn:hover .project-link {
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  color: #222;
}
