// Place all the styles related to the api/projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.insta-projects-section {
  width: 100%;
  min-height: 75vh;
  background-color: #eaeaea;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  z-index: 10;
}

.insta-projects {
  width: 80%;
  // min-height: 75vh;
  // background-color: lightgrey;
}

.insta-project {
  width: 75vw;
  height: 75vw;
  margin: 0 auto;
  margin-bottom: 30px;
}

.insta-project-img {
  height: 100%;
  max-width: 100%;
}

.view-more-btn {
  width: 75vw;
  max-width: 300px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

///////////////////////////////////////////////////////////////////////////////


.projects {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;

  z-index: 10;
}

#projects-title {
  color: #111;
  margin-bottom: 20px;
  font-size: 35px;
}

.projects-window {
  width: 85vw;
  min-height: 600px;
  height: 700px;
  overflow-x: hidden;
  position: relative;
}

.projects-ul {
  position: absolute;
  top: 0;
  left: 0vw;
  display: flex;
}

.project-li {
  margin-left: 50px;
}

.project {
  width: 90vw;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 2px;
  background-color: #f5f5f5;
  margin-right: 10px;
}

.project-img {
  max-height: 300px;
  height: 50vw;
  width: 100%;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.project-name {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}

.project-desc {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
}

.stack {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.stack-title {
  margin-bottom: 10px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.project-stack {
  height: 25px;

  border-radius: 1px;
  padding: 5px 10px;
  margin: 3px;

  background-color: #fff;
  box-shadow: 0 0 5px #999;

  color: #111;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
}

.project-links {
  display: flex;
  width: 150px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.project-link-btn {
  margin: 20px 0;
  min-height: 40px;
  padding: 0 10px;
  background: rgba(0,0,0,0.3);
  border-radius: 20px;
  transition: all .2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-link-btn:hover {
  transition: all .2s ease-in;
  background: rgba(0,0,0,1);
  cursor: pointer;
}

.project-link {
  font-size: 17px;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

// For Mobile
@media only screen and (min-width: 450px) {
  .project {
    width: 75vw;
  }
  .projects-window {
    width: 75vw;
  }
  .project-img {
    max-height: 250px;
  }
}

@media only screen and (max-width: 600px) {
  #projects-title {
    font-size: 28px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 900px) {
  // .stack-title, .stack {
  //   display: none;
  // }
}

// For Tablets
@media only screen and (min-width: 601px) {
  .project {
    width: 40vw;
  }
  .projects-window {
    width: 80vw;
  }
  .project-img {
    max-height: 175px;
  }
}

@media only screen and (min-width: 700px) {
  .project-img {
    max-height: 200px;
  }
}

@media only screen and (min-width: 800px) {
  .project-img {
    max-height: 250px;
  }
}

// For Desktop
@media screen and (min-width: 900px) {
  .project {
    width: 28vw;
  }
  .projects-window {
    width: 85vw;
  }
  .project-img {
    max-height: 175px;
  }
}

@media screen and (min-width: 1000px) {
  .project-img {
    max-height: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .project-img {
    max-height: 250px;
  }
}

@media screen and (min-width: 1400px) {
  .project {
    width: 21vw;
  }
  .projects-window {
    width: 85vw;
  }
  .project-img {
    max-height: 200px;
  }
}

// @media screen and (min-width: 1600px) {
//   .project-img {
//     max-height: 350px;
//   }
// }

// @media screen and (min-width: 1500px) {
//   .project {
//     width: 22vw;
//   }
//   .projects-window {
//     width: 88vw;
//   }
//   .project-img {
//     max-height: 300px;
//   }
// }
