.about {
  width: 100%;
  padding: 40px 0;
  min-height: calc(100vh - 70px);
  height: auto;
  background-color: #f7f7f7;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-img {
  background: url('https://res.cloudinary.com/ddgtwtbre/image/upload/v1493856732/IMG_6523-long_g3ob6n.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-img {
  width: 80vw;
  height: 100%;
  max-width: 540px;
  max-height: 375px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.about-title {
  width: 100%;
  height: 30px;
  color: #111;
  font-size: 23px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.about p {
  margin-top: 30px;
  color: #555;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 1.5px;
}

$see-skills-color: #333;

.see-skills {
  padding: 14px 20px;
  margin-top: 40px;
  border: 1px solid $see-skills-color;
  border-radius: 30px;

  color: #333;
  font-size: 17px;
  transition: all .2s ease-in;
  background-color: #fff;
}

.see-skills:hover {
  color: #fff;
  cursor: pointer;
  background-color: $see-skills-color;
  transition: all .2s ease-in;
}

.about-p {
  width: 80vw;
  min-height: 400px;
  padding-right: 40px;
}

// For Mobile
@media only screen and (max-width: 900px) {
  .about-img {
    height: 50vw;
  }
  .about-p {
    max-width: 500px;
    padding-right: 0;
  }
  .about p {
    font-size: 16px;
    line-height: 25px;
  }
}

// For Tablets
@media only screen and (min-width: 901px) {
  .about {
    flex-direction: row;
    justify-content: center;
  }
  .about-img {
    width: 48vw;
    height: 37vw;
  }
  .about-p {
    width: 48vw;
  }
}

// For Desktop
@media screen and (min-width: 1200px) {
  .about p {
    font-size: 17px;
    line-height: 25px;
  }
  .see-skills {
    font-size: 16px;
  }
  .about-p {
    max-height: 450px;
  }
}
