.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-form {
  width: 80%;
  height: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.author-name {
  height: 7%;
  width: 98%;
}

.message-subject {
  height: 7%;
  width: 98%;
}

.message-body {
  overflow: auto !important;
  outline: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  resize: none;

  height: 40%;
  width: 98%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;

  font-weight: 100;
}

.reference {
  height: 7%;
  width: 98%;
}

.message-form-button {
  height: 7.5%;
  width: 100%;

  border-radius: 5px;
  border: 1px solid whitesmoke;

  color: whitesmoke;
  font-weight: 700;
  letter-spacing: 4px;
  background-color: transparent;

  transition: background .15s ease-in;
}

.message-form-button:hover {
  cursor: pointer;
  background: rgba(255,255,255,0.2);
  transition: background .15s ease-in;
}

.form-item {
  border-radius: 5px;
  color: #0f0f0f;
  background-color: white;

  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}
