.home {
  width: 100%;
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('https://res.cloudinary.com/ddgtwtbre/image/upload/v1481423849/portfolio_background2_i4tzx5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: background .2s ease-in-out;
}

.home-intro {
  font-size: 8vw;
  font-weight: 900;
  color: #fff;
  height: 70px;
}

.typed-cursor {
  font-size: 8vw;
  font-weight: 900;
  color: #fff;
  height: 70px;
}

.arrow-bounce-box {
  position: relative;
  display: flex;
  justify-content: center;

  width: 50px;
  height: 65px;
  cursor: pointer;
}

.arrow-bounce {
  position: absolute;
  bottom: 10px;
  height: 17px;
  width: 30px;
}
