.home {
  width: 100%;
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('https://res.cloudinary.com/ddgtwtbre/image/upload/v1493857064/grand-canyon_pmefu7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

$typedFontSize: 7.5vw;

#home-name {
  font-size: 10vw;
  color: #fff;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.home-intro {
  font-size: $typedFontSize;
  font-weight: 400;
  letter-spacing: .05em;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.typed-cursor {
  font-size: $typedFontSize;
  font-weight: 700;
  color: #fff;
}

.arrow-bounce-box {
  position: relative;
  display: flex;
  justify-content: center;

  width: 50px;
  height: 65px;
  cursor: pointer;
}

.arrow-bounce {
  height: 17px;
  width: 30px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  transition: all ease-in-out;
  -webkit-transition: all ease-in-out;
  -moz-transition: all ease-in-out;
  -o-transition: all ease-in-out;
}

@media screen and (min-width: 430px) {
  .home-intro, .typed-cursor {
    font-size: 2em;
  }
}

@media screen and (min-width: 800px) {
  .home-intro, .typed-cursor {
    font-size: 2em;
  }

  #home-name {
    font-size: 4em;
  }
}

@media screen and (min-width: 1200px) {
  .home-intro, .typed-cursor {
    font-size: 2.5em;
  }

  #home-name {
    font-size: 5em;
  }
}
