.home {
  width: 100%;
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('https://res.cloudinary.com/ddgtwtbre/image/upload/v1493857064/grand-canyon_pmefu7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: background .2s ease-in-out;
}

.home-intro {
  font-size: 8vw;
  // font-size: 3em;
  font-weight: 900;
  color: #fff;
  height: 70px;
}

#home-intro-text {
  font-size: 1.5vw;
  font-weight: 700;
  color: #fff;
  // height: 50px;
}

.typed-cursor {
  font-size: 8vw;
  // font-size: 1em;
  font-weight: 900;
  color: #fff;
  height: 70px;
}

.arrow-bounce-box {
  position: relative;
  display: flex;
  justify-content: center;

  width: 50px;
  height: 65px;
  cursor: pointer;
}

.arrow-bounce {
  position: absolute;
  bottom: 10px;
  height: 17px;
  width: 30px;
}

@media screen and (min-width: 800px) {
  .home-intro, .typed-cursor {
    font-size: 3em;
  }
}

@media screen and (min-width: 1200px) {
  .home-intro, .typed-cursor {
    font-size: 4em;
  }
}
