.projects-scroll {
  position: relative;
  min-height: 600px;
  height: auto;
}

.arrow-box {
  height: 100%;
  width: 10vw;
  position: absolute;
  top: 0;
  z-index: 10;
}

.left-arrow-box {
  left: -10vw;
}

.right-arrow-box {
  right: -10vw;
}

.arrow-circle {
  width: 150px;
  height: 150px;
  background: rgba(0,0,0,1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 33%;
  cursor: pointer;
  transition: all .2s ease-in;
}

.arrow-circle:hover {
  transition: all .2s ease-in;
  background: rgba(0,0,0,0.5);
}

.left-circle {
  justify-content: flex-end;
  padding-right: 20px;
  left: -50px;
}

.right-circle {
  justify-content: flex-start;
  padding-left: 20px;
  right: -50px;
  margin-left: 50px;
}

.arrow-img {
  height: 45px;
  width: 25px;
}

// For Mobile
@media only screen and (max-width: 450px) {
  .arrow-box {
    height: 100%;
    width: 10vw;
    position: absolute;
    top: -60px;
    z-index: 10;
  }

  .arrow-circle {
    position: absolute;
    top: 0;
    height: 40px;
    width: 50px;
    border-radius: 5%;
    background-color: #111;
  }

  .arrow-img {
    height: 25px;
    width: 15px;
  }
  .left-circle {
    left: 10vw;
  }
  .right-circle {
    right: 10vw;
  }
}

// For Tablets
@media only screen and (min-width: 451px) {
  .right-circle {
    right: -24vw;
  }
  .left-circle {
    left: -24vw;
  }
  .arrow-img {
    height: 30px;
    width: 18px;
  }
}

@media only screen and (min-width: 480px) {
  .right-circle {
    right: -23vw;
  }
  .left-circle {
    left: -23vw;
  }
}

@media only screen and (min-width: 510px) {
  .right-circle {
    right: -21vw;
  }
  .left-circle {
    left: -21vw;
  }
}
@media only screen and (min-width: 560px) {
  .right-circle {
    right: -20vw;
  }
  .left-circle {
    left: -20vw;
  }
}

@media only screen and (min-width: 600px) {
  .right-circle {
    right: -17vw;
  }
  .left-circle {
    left: -17vw;
  }
}

@media only screen and (min-width: 630px) {
  .right-circle {
    right: -15vw;
  }
  .left-circle {
    left: -15vw;
  }
}

@media only screen and (min-width: 700px) {
  .right-circle {
    right: -14vw;
  }
  .left-circle {
    left: -14vw;
  }
}

@media only screen and (min-width: 750px) {
  .right-circle {
    right: -13vw;
  }
  .left-circle {
    left: -13vw;
  }
}

@media only screen and (min-width: 800px) {
  .right-circle {
    right: -12vw;
  }
  .left-cicrle {
    left: -12vw;
  }
}

@media only screen and (min-width: 850px) {
  .right-circle {
    right: -11vw;
  }
  .left-circle {
    left: -11vw;
  }
}

@media only screen and (min-width: 900px) {
  .right-circle {
    right: -8vw;
  }
  .left-circle {
    left: -8vw;
  }
}

// For Desktop
@media screen and (min-width: 1000px) {
  .right-circle {
    right: -7vw;
  }
  .left-circle {
    left: -7vw;
  }
}

@media screen and (min-width: 1100px) {
  .right-circle {
    right: -6vw;
  }
  .left-circle {
    left: -6vw;
  }
}

@media screen and (min-width: 1200px) {
  .right-circle {
    right: -5vw;
  }
  .left-circle {
    left: -5vw;
  }
}

@media screen and (min-width: 1350px) {
  .right-circle {
    right: -4vw;
  }
  .left-circle {
    left: -4vw;
  }
}
//
// @media screen and (min-width: 1400px) {
//   .right-circle {
//     right: -4vw;
//   }
//   .left-circle {
//     left: -4vw;
//   }
// }
//
// @media screen and (min-width: 1500px) {
//   .right-circle {
//     right: -3vw;
//   }
//   .left-circle {
//     left: -3vw;
//   }
// }
//
// @media screen and (min-width: 1650px) {
//   .right-circle {
//     right: -2vw;
//   }
//   .left-circle {
//     left: -2vw;
//   }
// }
//
// @media screen and (min-width: 1800px) {
//   .right-circle {
//     right: -1vw;
//   }
//   .left-circle {
//     left: -1vw;
//   }
// }
