h1, h2, h3, h4, h5, h6, p, a, span, button, div, main,
body, section, ul, ol, li, img, form, label, input {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: none;

  font: inherit;
  text-decoration: none;
  list-style: none;

  font-family: 'Lato', sans-serif;

  outline: none;
}
