$dark: #1f1f1f;
.skills-box {
  position: relative;
  background-color: $dark;
}

.skills-bg {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.skills-bg-img {
  width: 100%;
  height: 1200px;
}

.skills {
  height: calc(100vh - 60px);
  width: 100%;
  background: rgba(0,0,0,0);
  perspective: 1000px;

  text-align: center;
  padding-top: 50px;
}

.three-d-cube {
  height: 740px;
  text-align: center;
  padding-top: 20vh;
  transition: all .1s ease-in;
  transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
}

.cube-container {
  width: 300px;
  height: 300px;
  position: relative;
  -webkit-perspective: 800px;
  margin: auto;
  line-height: 250px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-126px);
  animation: rotate 20s infinite linear;
}

#cube figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 250px;
  height: 250px;
  opacity: 0.3;

  font-size: 30px;
  color: black;
  vertical-align: middle;
  text-align: center;
  line-height: 200px;
}

#cube .front {
  transform: rotateY(0deg) translateZ(126px);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cube .back {
  transform: rotateY(180deg) translateZ(126px);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cube .left {
  transform: rotateY(90deg) translateZ(126px);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cube .right {
  transform: rotateY(-90deg) translateZ(126px);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cube .top {
  transform: rotateX(90deg) translateZ(126px);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cube .bottom {
  transform: rotateX(-90deg) translateZ(126px);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cube:hover .front {
  animation: expand-front 1s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

#cube:hover .back {
  animation: expand-back 1s linear;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

#cube:hover .left {
  animation: expand-left 1s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

#cube:hover .right {
  animation: expand-right 1s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

#cube:hover .top {
  animation: expand-top 1s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

#cube:hover .bottom {
  animation: expand-bottom 1s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes rotate {
  from { transform: rotateX(0) rotateY(0); }
  to { transform: rotateX(360deg) rotateY(360deg); }
}

@keyframes expand-front {
  from { transform: rotateY(0) translateZ(126px); }
  to { transform: rotateY(0) translateZ(220px); }
}

@keyframes expand-back {
  from { transform: rotateY(180deg) translateZ(126px)}
  to { transform: rotateY(180deg) translateZ(220px)}
}

@keyframes expand-left {
  from { transform: rotateY(90deg) translateZ(126px)}
  to { transform: rotateY(90deg) translateZ(220px)}
}

@keyframes expand-right {
  from { transform: rotateY(-90deg) translateZ(126px)}
  to { transform: rotateY(-90deg) translateZ(220px)}
}

@keyframes expand-top {
  from { transform: rotateX(90deg) translateZ(126px)}
  to { transform: rotateX(90deg) translateZ(220px)}
}

@keyframes expand-bottom {
  from { transform: rotateX(-90deg) translateZ(126px)}
  to { transform: rotateX(-90deg) translateZ(220px)}
}

#view-projects-btn {
  height: 50px;
  width: 175px;

  position: absolute;
  bottom: 30px;
  left: calc(50vw - 87.5px);

  color: #fff;
  font-size: 17px;
  cursor: pointer;
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;

  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 30px;
}

#view-projects-btn:hover {
  background-color: #fff;
  color: #222;
}

// Shorter height screens
@media screen and (max-height: 700px) {
  #cube {
    transform: translateZ(-99px);
  }

  #cube figure {
    height: 196px ;
    width: 196px ;
  }

  #cube .front {
    transform: rotateY(0deg) translateZ(99px);
  }

  #cube .back {
    transform: rotateY(180deg) translateZ(99px);
  }

  #cube .left {
    transform: rotateY(90deg) translateZ(99px);
  }

  #cube .right {
    transform: rotateY(-90deg) translateZ(99px);
  }

  #cube .top {
    transform: rotateX(90deg) translateZ(99px);
  }

  #cube .bottom {
    transform: rotateX(-90deg) translateZ(99px);
  }

  @keyframes expand-front {
    from { transform: rotateY(0) translateZ(99px); }
    to { transform: rotateY(0) translateZ(190px); }
  }

  @keyframes expand-back {
    from { transform: rotateY(180deg) translateZ(99px)}
    to { transform: rotateY(180deg) translateZ(190px)}
  }

  @keyframes expand-left {
    from { transform: rotateY(90deg) translateZ(99px)}
    to { transform: rotateY(90deg) translateZ(190px)}
  }

  @keyframes expand-right {
    from { transform: rotateY(-90deg) translateZ(99px)}
    to { transform: rotateY(-90deg) translateZ(190px)}
  }

  @keyframes expand-top {
    from { transform: rotateX(90deg) translateZ(99px)}
    to { transform: rotateX(90deg) translateZ(190px)}
  }

  @keyframes expand-bottom {
    from { transform: rotateX(-90deg) translateZ(99px)}
    to { transform: rotateX(-90deg) translateZ(190px)}
  }
}
