$light-font: #eee;

.root-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.text-align--center {
  text-align: center;
}

.content {
  height: 100%;
  width: 100%;
  position: relative;
}

.title {
  font-size: 1.6em;
  font-weight: 900;
  letter-spacing: 1px;
  color: $light-font;
  margin-top: 40px;
}

#dark-title {
  color: #111;
}

.veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}

.z1 {
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .15s ease-in;
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
}

.app-content {
  width: 55%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  filter: visibility .15s ease-in;
}

.divider {
  width: 1.5px;
  height: 10%;
  background-color: whitesmoke;

  margin: 0;
  padding: 0;
}

.border {
  width: 22.5%;
  height: 100%;
}

.blur {
  filter: blur(4px);
  transition: all .15s ease-in;
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
}

.hide {
  visibility: hidden;
}

.display-none {
  display: none;
}

.transparent {
  opacity: 0;
}

.flex-direction-column {
  flex-direction: column;
}

.exit {
  height: 27px;
  width: 27px;
  color: #111;
  font-size: 25px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}



$cubeSize: 3em;
$light: #ECECEC;
// $dark: #34495e;
$dark: #1f1f1f;

#loadScreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000000;

  background-color: $dark;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.loader {
  width: $cubeSize;
  height: $cubeSize;
  animation: loaderAnim 1.25s infinite;
  outline: 1px solid transparent;
  #largeBox {
    height: $cubeSize;
    width: $cubeSize;
    background-color: $light;
    outline: 1px solid transparent;
    position: fixed;
  }
  #smallBox {
    height: $cubeSize;
    width: $cubeSize;
    background-color: $dark;
    position: fixed;
    z-index: 1;
    outline: 1px solid transparent;
    animation: smallBoxAnim 1.25s alternate infinite ease-in-out;
  }
}

@keyframes smallBoxAnim {
  0% {transform: scale(0.2);}
  100% {transform: scale(0.75);}
}

@keyframes loaderAnim {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(90deg);}
}
